:root{
    --nero: rgb(30, 30, 30);
    --verde: rgb(26, 188, 156);
    --bianco: rgb(255,255,255);
    --headfoot: rgb(44, 62, 80, 1);
    --footer: rgb(58, 84, 109);
    
}
/* common */
body{
    color: var(--nero);
}

.bg-green{
    background-color: var(--verde);
    color: var(--bianco);
}
.bg-footer{
    background-color: var(--footer);
}
.bg-headfoot{
    background-color: var(--headfoot);
}
.bianco{
    color: var(--bianco);
}
.nero{
    color: var(--nero);
}

/* header */
header{
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
}

/* main */
#hero{
    padding-top: 100px;
}
img.avatar{
    width: 45px;
    
}
.star{
    width: 300px;
}
.star .fa-solid.fa-star{
    width: 20%;
}
.star:before , .star:after{
    content: "";
    display: block;
    background-color: var(--bianco); /* modificare qui colore */
    height: 3px;
    width: 40%;
}
#portfolio .star:before , #portfolio .star:after{
    background-color: var(--nero);
}
#contact .star:before , #contact .star:after{
    background-color: var(--nero);
}
.layover-container{
    cursor: pointer;
}
.layover-container::after{
    content: "+";
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--bianco);

    opacity: 0;
    transition: opacity 1000ms;
}
.layover-container:hover::after{
    opacity: 1;
}
.gvpt-10{
    padding-top: 20px;
    border-radius: 10px; /* controllare qui */
}
.border{
    border: 1px solid var(--bianco);
}
li{
    border-bottom: 1px solid var(--nero);
    list-style-type: none;
}
.p-150{
    padding-bottom: 150px;
}
.verde{
    color: var(--verde);
}